.title {
    font-size: 23px;
    font-weight: 700px;
}

.daily-item {
    color: #667292;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 40px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 20px;
}

.icon-small {
    width: 40px;
}

.day {
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
}

.min-max {
    color: #8d9db6;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 0px 15px;
    
    background-color: #FFFFFF;
    border-radius: 5px;
}

.daily-details-grid-item {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.daily-details-grid-item label:first-child {
    color: #515c7b;
}

.daily-details-grid-item label:last-child {
    color: #c68093;
}

.daily-item:hover {
    background-color: #cfe0e8;
}

.accordion__button[aria-expanded='true'] div:first-child{
    background-color: #cfe0e8;
    margin-bottom: 0;
}

.accordion__panel {
    animation: growDown 600ms ease-in-out forwards; 
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}